* {
    margin:0;
    padding:0;
}

.calc-heading {
    color:red;
    text-align:center;
}

.calculator-body {
   background-color:#2c0505;
   width: 400px;
   height:620px;
   margin: 1px auto;
   border:3px solid #657733;
   margin:20px auto;
    
}
.display {
background-color:white;
border: 5px solid #2c0505;
text-align: right;
font-size: 32px;
height: 80px;

}

.btn {
    margin-top: 5px;
    width:70px;
    height:90px;
    background-color:#456983;
    color:white;
    border-radius:8px;
    border:1px  #456983;
    margin-left:20px;
    font-size: 30px;
}

.btn:hover {
    background-color:#ffffff;
    color:#456983;
    border: 3px solid #456983;
}
.btn-operator {
    font-size:30px;
    width:80px;
    height:90px;
    background-color:aquamarine;
    color:#000000;
    border-radius:8px;
    border:1px solid aquamarine;
    margin-left:20px;
}

.btn-operator:hover {
    color:aquamarine;
    background-color: black;
    border:2px solid aquamarine;
}