body {
    background-color:goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin:auto;
   width:60%;
    
}
p {
    color: white;
}
h1, h2 {
    text-align:center;
    color:white;

}
.caption {
    text-indent:14%;
    color:black;
}

li{
    width:50%;
}

.timeline {
    text-decoration:none;
    color:white;
}

.timeline:hover{
    color:white;

}